 **Goal**
 
    PLSQL语言操作 Oracle数据库的时候，相对于其他语言（如Java/python/C++）都要效率高

# 查询语句

### SELECT 语句
SQL SELECT 语句用于从数据库的表中取回所需的数据，并以表的形式返回。返回的表被称作结果集。

In [ ]:
# SELECT 语句的基本语法如下：
SELECT column1, column2, columnN FROM table_name;

#如果要取回表中所有字段的话，可以使用下面的语法：
SELECT * FROM table_name;

### WHERE 子句
SQL WHERE 子句用于有条件地从单个表中取回数据或者将多个表进行合并。

如果条件满足，则查询只返回表中满足条件的值。你可以用 WHERE 子句来过滤查询结果，只获取必要的记录。

WHERE 子句不仅可以用于 SELECT 语句，还可以用于 UPDATE、DELETE 等语句，其用法见后面的章节。

### SQL UPDATE 语句

SQL UPDATE 语句用于修改表中现有的记录。

你可以在 UPDATE 语句中使用 WHERE 子句来修改选定的记录，否则所有记录都会收到影响。

#### LIKE 子句

SQL LIKE 子句通过通配符来将一个值同其他相似的值作比较。可以同 LIKE 运算符一起使用的通配符有两个：

百分号（%）
下划线（_）
百分号代表零个、一个或者多个字符。下划线则代表单个数字或者字符。两个符号可以一起使用。

#### HAVING 子句

HAVING 子句使你能够指定过滤条件，从而控制查询结果中哪些组可以出现在最终结果里面。

WHERE 子句对被选择的列施加条件，而 HAVING 子句则对 GROUP BY 子句所产生的组施加条件。

In [ ]:
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY

In [ ]:
SQL > SELECT ID, NAME, AGE, ADDRESS, SALARY
FROM CUSTOMERS
GROUP BY age
HAVING COUNT(age) >= 2;

#### ORDER BY 子句

SQL ORDER BY 子句根据一列或者多列的值，按照升序或者降序排列数据。某些数据库默认以升序排列查询结果。

In [ ]:
SELECT column-list 
FROM table_name 
[WHERE condition] 
[ORDER BY column1, column2, .. columnN] [ASC | DESC];

#### SQL DISTINCT 关键字

SQL DISTINCT 关键字同 SELECT 语句一起使用，可以去除所有重复记录，只返回唯一项。

有时候，数据表中可能会有重复的记录。在检索这些记录的时候，应该只取回唯一的记录，而不是重复的。

In [ ]:
SELECT DISTINCT column1, column2,.....columnN 
FROM table_name
WHERE [condition]

# SQL fUNCTION

### count() function

In [ ]:
select count() 
from vin t where t.VIN_MODE like '荣威' or t.VIN_CODE like 'MG%

### AVG 函数

AVG函数用于找出表中记录在某字段处的平均值。

In [ ]:
SELECT AVG(daily_typing_pages)
FROM employee_tbl
GROUP BY name;

# Create table

In [ ]:
create table as
select * 
from vin t where t.VIN_MODE like '%荣威%' or t.VIN_CODE like 'MG%'

### 命令窗口

命令窗口允许你运行 SQL 脚本，这与 Oracle 的 SQL*Plus 很相似。要创建命令窗口，请按下
工具栏中的新建按钮或在文件菜单中选择新建项目。不用离开 PL/SQL Developer 的 IDE， 就
可以创建一个命令窗口，你可以像过去一样键入 SQL 语句或 SQL*Plus 命令：

In [ ]:
#### Hello world

#打开SQL输出开关
set serveroutput on

#编写程序
#首先声明:变量、光标或者例外
#若没有需要声明的部分，可以不写
declare

#程序以begin 开始
begin

#程序体
    dbms_ouput.put_line('Hello world')

#总是以 end+ 分号 结束
end;

# 右斜线/表示退出编辑环境，并执行plsql程序
/

## PL/SQL Developer 图形化工具